@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600|Roboto:400,500&display=swap&subset=cyrillic");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
   display: block;
}

ol,
ul {
   list-style: none;
}

blockquote,
q {
   quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}

table {
   border-collapse: collapse;
   border-spacing: 0;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

button,
button:active,
button:focus {
   outline: none;
}

input,
textarea {
   outline: 0 !important;
}

button {
   background-color: transparent;
   border: none;
   border-width: 0;
   cursor: pointer;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 26px;
   color: #101010;
}

img {
   max-width: 100%;
   height: auto;
}

.signature {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 20px;
   color: #BFBFBF;
   margin-top: 10px;
}

.title {
   font-size: 44px;
   line-height: 48px;
   font-weight: 600;
   margin-bottom: 27px;
}

.title--gold {
   color: #D0AE85;
}

.title--white {
   color: white;
}

.text {
   font-size: 20px;
   line-height: 30px;
   padding-bottom: 25px;
}

.text--white {
   color: #FFFFFF;
}

.text--dark {
   color: #101010;
}

h3 {
   font-weight: 600;
   font-size: 30px;
   line-height: 34px;
   color: #FFFFFF;
   margin-bottom: 15px;
}

.button {
   cursor: pointer;
   display: inline-block;
   position: relative;
   background: linear-gradient(270.5deg, rgba(203, 35, 35, 0.74) -0.24%, rgba(170, 65, 65, 0) 98.72%), #A61744;
}

.button:hover {
   background: linear-gradient(270.5deg, rgba(244, 92, 27, 0.74) -0.24%, rgba(170, 65, 65, 0) 98.72%), #BF202D;
}

.button:active {
   background: linear-gradient(270.5deg, rgba(244, 92, 27, 0.74) -0.24%, rgba(170, 65, 65, 0) 98.72%), #BF202D;
}

.button.disabled {
   background: linear-gradient(269.88deg, rgba(255, 255, 255, 0.46) -4.33%, rgba(255, 255, 255, 0) 101.23%), #C6C6C6;
}

.button--standart {
   height: 50px;
   line-height: 50px;
   font-weight: bold;
   font-size: 16px;
   color: white;
   padding: 0 37px;
}

.button--large {
   height: 73px;
   line-height: 73px;
   font-weight: bold;
   font-size: 22px;
   color: white;
   padding: 0 43px;
}

.form .form-group {
   margin-bottom: 30px;
}

.form .form-control {
   height: 57px;
   line-height: 44px;
   background: #FFFFFF;
   border: 1px solid #BFBFBF;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   border-radius: 0;
   padding: 0 10px;
   font-size: 18px;
   color: #808080;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.form .form-control:hover,
.form .form-control:active,
.form .form-control:focus {
   border: 1px solid #A61744;
}

.header__container {
   height: 90px;
}

.header__links {
   width: 340px;
   margin-left: 30px;
   display: none;
}

.header__links--item {
   text-decoration: none;
   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
   -webkit-transition: border-bottom-color .3s;
   transition: border-bottom-color .3s;
   font-size: 18px;
   line-height: 18px;
   color: #000000;
   display: inline-block;
   height: 18px;
}

.header__links--item:hover,
.header__links--item:active,
.header__links--item:visited,
.header__links--item:focus {
   text-decoration: none;
   color: #000000;
   border-bottom-color: rgba(0, 0, 0, 0);
}

.logo {
   height: 60px;
   width: 136px;
}

.menu-open {
   overflow: hidden;
}

.nav__link {
   color: #101010;
}

.nav__link:hover,
.nav__link:active,
.nav__link:focus {
   text-decoration: none;
   color: #A61744;
   border-bottom-color: rgba(0, 0, 0, 0);
}

.nav__item {
   margin: 0 15px;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
}

.nav__item--active a {
   text-decoration: none;
   color: #A61744;
   border-bottom-color: rgba(0, 0, 0, 0);
   border-bottom: 5px solid #A61744;
}

.nav__item--active .nav__link {
   color: #A61744;
}

.nav-mobile {
   z-index: 999;
   -webkit-transition: max-height .3s ease-out;
   transition: max-height .3s ease-out;
}

.nav-mobile.show {
   max-height: 1000px;
}

.burger-menu {
   width: 40px;
   height: 30px;
   display: block;
   -webkit-transition: .3s;
   transition: .3s;
}

.burger-menu__elem {
   width: 40px;
   height: 4px;
   background-color: #101010;
   display: block;
   margin-bottom: 9px;
   -webkit-transition: all .2s;
   transition: all .2s;
}

.burger-menu.show {
   width: 40px;
   height: 30px;
   position: relative;
}

.burger-menu.show .burger-menu__elem:nth-child(1) {
   background-color: #101010;
   -webkit-transform: translateY(10px) rotate(-45deg);
   transform: translateY(10px) rotate(-45deg);
   height: 3px;
   width: 30px;
}

.burger-menu.show .burger-menu__elem:nth-child(2) {
   background-color: rgba(0, 0, 0, 0);
   -webkit-transition: all .1s;
   transition: all .1s;
}

.burger-menu.show .burger-menu__elem:nth-child(3) {
   background-color: #101010;
   -webkit-transform: translateY(-15px) rotate(45deg);
   transform: translateY(-15px) rotate(45deg);
   height: 3px;
   width: 30px;
}

.main {
   height: 600px;
   background: url(../img/main-bg.jpg) 50% 0 no-repeat;
   background-size: cover;
}

.main__container {
   position: relative;
}

.main__logo-wrapper {
   padding: 15px;
   padding-bottom: 5px;
   background-color: #fff;
   position: absolute;
   bottom: 30px;
}

.ico {
   float: left;
   margin-right: 25px;
}

.info__container {
   margin-top: 45px;
   margin-bottom: 45px;
}

.info__list {
   margin-bottom: 50px;
}

.info__pre-title {
   font-size: 28px;
   margin-bottom: 10px;
}

.info .title-wrapper {
   margin-bottom: 27px;
}

.info__title {
   margin-bottom: 0;
}

.info__sell {
   width: 178px;
   height: 36px;
   background: #CB2323;
   font-family: Montserrat;
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   color: white;
   margin-left: 16px;
   margin-top: 10px;
   padding-left: 7px;
   position: relative;
   text-decoration: none;
}

.info__sell:hover::after {
   background-color: rgba(255, 255, 255, 0);
}

.info__sell:hover,
.info__sell:active,
.info__sell:visited,
.info__sell:focus {
   text-decoration: none;
   color: white;
}

.info__sell::after {
   content: '';
   display: block;
   position: absolute;
   width: 134px;
   height: 1px;
   background-color: rgba(255, 255, 255, 0.33);
   bottom: 6px;
   -webkit-transition: background-color .3s;
   transition: background-color .3s;
}

.info__sell-ico {
   margin-left: 12px;
}

.info__item {
   margin-top: 50px;
}

.info__nums {
   font-weight: 300;
   font-size: 40px;
   line-height: 30px;
   margin-bottom: 10px;
}

.info__nums sup {
   font-size: 26px;
}

.info__adress {
   margin-bottom: 12px;
}

.look-map {
   position: relative;
   cursor: pointer;
}

.look-map::after {
   content: '';
   display: block;
   width: 190px;
   height: 1px;
   position: absolute;
   background-color: rgba(166, 23, 68, 0.4);
   bottom: 4px;
   left: 27px;
   -webkit-transition: background-color .3s;
   transition: background-color .3s;
}

.look-map:hover::after {
   background-color: rgba(166, 23, 68, 0);
}

.ico-map {
   margin-right: 4px;
}

.project__content {
   background-color: #303030;
}

.project__switch {
   margin-top: 90px;
   margin-bottom: 27px;
}

.project__switch-item {
   font-weight: 600;
   font-size: 30px;
   line-height: 34px;
   text-decoration: none;
   color: #101010;
   margin-right: 70px;
}

.project__switch-item:last-child {
   margin-right: 0;
}

.project__switch-item:hover {
   text-decoration: none;
   color: #A61744;
}

.project__switch-item::after {
   content: '';
   display: block;
   width: 100%;
   height: 7px;
   background-color: rgba(0, 0, 0, 0);
}

.project__switch-item.active {
   color: #A61744;
}

.project__switch-item.active::after {
   background-color: #A61744;
}

.project__about {
   padding-top: 50px;
   padding-bottom: 50px;
}

.project .project__parametrs {
   border-collapse: collapse;
   color: white;
   width: 100%;
}

.project .project__parametrs tr {
   border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.project .project__parametrs th {
   padding-bottom: 20px;
   font-family: Montserrat;
   font-weight: 600;
   font-size: 17px;
   line-height: 19px;
}

.project .project__parametrs td {
   padding: 13px 0;
}

.project .project__parametrs .name-col {
   font-weight: 600;
   font-size: 22px;
   line-height: 29px;
}

.project .project__parametrs .square,
.project .project__parametrs .price {
   display: none;
   font-family: 'Roboto', sans-serif;
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   line-height: 20px;
   padding: 0;
}

.project .project__parametrs .square__num sup {
   font-size: 14px;
}

.project__picture {
   background: url("../img/project-bg.jpg") left top no-repeat;
   background-size: cover;
   height: 258px;
}

.player__wrapper {
   position: relative;
   display: inline-block;
}

.player__play {
   position: absolute;
   left: 50%;
   top: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.location {
   background: url("../img/location-bg.svg") repeat-y 100% 45%, radial-gradient(836.1px at 86.25% 18.44%, rgba(203, 35, 35, 0.74) 0%, rgba(170, 65, 65, 0) 100%), #A61744;
   padding: 60px 0;
}

.location__picture-content {
   position: relative;
}

.block-map {
   background: url("../img/block-map-bg.svg") no-repeat 5% 100%, #303030;
   height: 650px;
   padding-top: 80px;
}

.block-map__buid,
.block-map__office {
   position: relative;
   padding-left: 65px;
}

.block-map__buid img,
.block-map__office img {
   position: absolute;
   left: 0px;
}

.block-map__buid {
   margin-bottom: 80px;
}

.block-map__places-icon {
   position: absolute;
   left: 0;
   top: 0;
}

.block-map__phone {
   font-weight: 500;
   font-size: 26px;
   line-height: 29px;
   color: #FFFFFF;
   margin-bottom: 10px;
}

.block-map__desc {
   font-size: 20px;
   line-height: 30px;
   color: #FFFFFF;
}

.block-map__map {
   height: 640px;
}

.near {
   background: url("../img/near-bg.svg") no-repeat 50% 98%, radial-gradient(761.45px at 60.86% 16.45%, rgba(255, 255, 255, 0.83) 0%, rgba(255, 255, 255, 0.14) 100%), #CFCFCF;
   padding: 150px 0 130px;
}

.near__picture-items {
   max-width: 100%;
   width: 550px;
}

.near__img {
   width: 238px;
   height: 110px;
   background: #FFFFFF;
   position: relative;
   margin: 15px;
}

.near__img img {
   display: block;
   position: relative;
   max-width: 80%;
   max-height: 80%;
   top: 50%;
   left: 50%;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
}

.recreation {
   background: radial-gradient(836.1px at 86.25% 18.44%, rgba(203, 35, 35, 0.74) 0%, rgba(170, 65, 65, 0) 100%), #A61744;
}

.recreation .title,
.recreation .text {
   max-width: 540px;
}

.recreation__img {
   background: url("../img/recreation-img.jpg") no-repeat;
   background-size: cover;
}

.recreation__about {
   min-height: 350px;
   padding: 125px 0 200px 150px;
}

.slider {
   background: radial-gradient(761.45px at 60.86% 16.45%, rgba(255, 255, 255, 0.83) 0%, rgba(255, 255, 255, 0.14) 100%), #CFCFCF;
   padding: 60px 0;
}

.slider__container {
   width: 1320px;
}

.slider__dots-container {
   margin-top: -50px;
}

.slider__dot .slick-slide {
   margin: 0 5px;
   cursor: pointer;
}

.slider__dot .slick-current {
   position: relative;
}

.slider__dot .slick-current::after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   -webkit-box-shadow: inset 0px 0px 0px 10px #a61744;
   box-shadow: inset 0px 0px 0px 10px #a61744;
}

.sign {
   background: url("../img/sign-bg.png") repeat-x bottom center, #303030;
   padding: 60px 0 100px;
}

.sign__title {
   margin-bottom: 40px;
}

.sign .form label {
   width: 100%;
}

.sign .form textarea {
   height: 231px;
}

.sign .form__help {
   float: right;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   line-height: 20px;
}

.sign .form__send {
   margin-top: 24px;
}

.sign .form__privacy {
   width: 536px;
   font-size: 18px;
   line-height: 21px;
   margin-left: 36px;
}

.sign .form__privacy-link {
   text-decoration: underline;
}

.sign .form__privacy-link:hover {
   color: white;
   text-decoration: none;
}

.footer {
   background: #1B1B1B;
   padding: 19px 0;
}

.footer__create {
   color: #fff;
   text-decoration: none;
}

.footer__create:hover {
   color: #fff;
   text-decoration: none;
}

.balloon {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1060;
   display: block;
   text-align: left;
   background-color: #fff;
   padding: 10px 10px 10px 20px;
}

.balloon .close {
   position: absolute;
   right: 12px;
   top: 6px;
}

.balloon-inner {
   font-size: 18px;
   line-height: 26px;
   color: #000000;
}

.balloon__title {
   font-size: 18px;
   font-weight: 600;
   color: #000000;
   padding: 0;
   margin: 0;
}

.balloon__content {
   line-height: 1.3;
}

.nav-tabs {
   border: none;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:active,
.nav-tabs .nav-link:focus {
   border: none;
   border-color: none;
   color: #A61744;
}

@media (min-width: 768px) {

   .project__picture {
      height: 623px;
   }

   .location__picture-content {
      width: 590px;
      max-width: 80%;
   }
}

@media (min-width: 992px) {

   .project__picture {
      height: auto;
   }

   .location__about {
      padding-left: 0;
   }
}

@media (min-width: 1200px) {

   .container {
      max-width: 1680px;
      padding: 0 45px;
   }
}

@media (max-width: 1199px) {

   .nav__link {
      margin: 0;
      color: white;
   }

   .nav-mobile {
      position: fixed;
      top: 90px;
      overflow: hidden;
      padding: 0;
      left: 0;
      right: 0;
      height: calc(100vh - 90px);
      background-color: #303030;
      overflow-y: auto;
      min-height: 0;
      max-height: 0;
   }

   .main {
      height: 390px;
   }

   .block-map {
      height: auto;
      padding-bottom: 45px;
   }

   .block-map__buid {
      margin-bottom: 30px;
   }

   .block-map__map {
      margin-top: 30px;
   }

   .recreation .title,
.recreation .text {
      max-width: none;
   }

   .recreation__about {
      padding: 30px;
      min-height: auto;
   }

   .footer .container {
      max-width: 100%;
   }
}

@media (max-width: 991px) {

   .info__adress {
      margin-bottom: 16px;
   }

   .player__wrapper {
      display: block;
   }

   .player__img {
      width: 100%;
   }

   .location__video {
      margin-top: 25px;
   }

   .near {
      padding: 30px;
   }

   .recreation__img {
      height: 300px;
   }
}

@media (max-width: 767px) {

   .title {
      font-size: 30px;
      line-height: 34px;
   }

   .text {
      font-size: 18px;
      line-height: 26px;
   }

   .ico {
      display: block;
      margin: auto;
      margin-left: 0px;
      margin-top: 0;
      margin-bottom: 10px;
   }

   .info__sell::after {
      width: 104px;
      bottom: 3px;
   }

   .info__sell {
      margin-left: 0;
      width: 138px;
      height: 26px;
      font-size: 14px;
      margin-top: 7px;
   }

   .info__sell-ico {
      margin-left: 5px;
   }

   .info__nums {
      font-size: 34px;
   }

   .info__adress {
      margin-bottom: 10px;
   }

   .project__switch {
      margin-bottom: 30px;
   }

   .project__switch-item {
      font-size: 20px;
      line-height: 24px;
      margin-right: 30px;
   }

   .project__about {
      padding-top: 25px;
   }

   .project .project__parametrs tr {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
   }

   .project .project__parametrs .first-line {
      display: none;
   }

   .project .project__parametrs .square,
.project .project__parametrs .price {
      display: block;
   }

   .project .project__parametrs .square__num,
.project .project__parametrs .price__num {
      padding-top: 0;
   }

   .location__picture-content {
      max-width: 590px;
   }

   .sign .form__privacy {
      margin-top: 15px;
      width: auto;
   }

   .footer {
      padding: 19px 0px;
   }
}

@media (max-width: 575px) {

   .button--large {
      width: 100%;
      height: 50px;
      line-height: 50px;
      font-size: 16px;
      padding: 0;
   }

   .header__container {
      height: 75px;
   }

   .nav-mobile {
      top: 75px;
      height: calc(100vh - 75px);
   }

   .main {
      height: 215px;
   }

   .main__logo-wrapper {
      padding: 10px;
      padding-bottom: 5px;
      bottom: 15px;
   }

   .main__logo {
      width: 190px;
      height: 60px;
   }

   .info__container {
      margin-top: 20px;
      margin-bottom: 20px;
   }

   .info__list {
      margin-bottom: 30px;
   }

   .info__pre-title {
      font-size: 22px;
      margin-bottom: 0;
   }

   .info .title-wrapper {
      margin-bottom: 10px;
   }

   .info__nums {
      font-size: 24px;
      margin-bottom: 5px;
   }
}

/*# sourceMappingURL=../maps/main.css.map */
